<!DOCTYPE html>
<html>
<head>
    <title>Digital Signature</title>
</head>
<body>

    <h1>Digital Signature</h1>

    <form action="/signature" method="POST" enctype="multipart/form-data">
        <label>File:</label>
        <input type="file" name="file" required>
        <br><br>

        <label>Action:</label>
        <select name="action">
            <option value="sign">Sign</option>
            <option value="verify">Verify</option>
        </select>

        <br><br>

        <label>Signature file (.sig) untuk verify:</label>
        <input type="file" name="sig_file">

        <br><br>

        <button type="submit">Submit</button>
    </form>

    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}

</body>
</html>
